<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Breed Form</title>

    <<!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form th:object="${breed}" th:action="@{/breed/}" enctype="multipart/form-data" method="post">

                <div class="pannel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Edit Breed Information</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Name:</label>
                                </div>
                                <div class="col-md-3 form-group">
                                    <input type="text" class="form-control" th:field="*{name}"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Image:</label>
                                </div>
                                <div class="col-md-6 form-group">
                                    <input id="image_file" name="image_file" type="file" class="file">
                                </div>
                            </div>
                                <div class="form-group">
                                    <label for="overviewFormControlTextarea">Overview</label>
                                    <textarea class="form-control" id="overviewFormControlTextarea" rows="3" th:field="*{overview}"></textarea>
                                </div>
                            <div class="form-group">
                                <label for="historyFormControlTextarea">History</label>
                                <textarea class="form-control" id="historyFormControlTextarea" rows="3" th:field="*{history}"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="careFormControlTextarea">Care</label>
                                <textarea class="form-control" id="careFormControlTextarea" rows="3" th:field="*{care}"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="temperFormControlTextarea">Temper</label>
                                <textarea class="form-control" id="temperFormControlTextarea" rows="3" th:field="*{temper}"></textarea>
                            </div>
                            <button type="submit" class="btn btn-secondary">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- jQuery library -->
<script src="https://ajax.googleapi.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- JavaScript library -->
<script src="https://maxcdn.bootstrap.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>
</html>