<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Cattery web application using Spring Framework and Bootstrap CSS">
    <meta name="author" content="Pavlo Kolesnichenko">
    <title>Cattery</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<footer class="text-muted bg-dark shadow-sm">
    <div class="container" style="padding: 1rem;">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <span>&copy; 2020, Cattery</span>
    </div>
</footer>
</body>
</html>