<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Cattery web application using Spring Framework and Bootstrap CSS">
    <meta name="author" content="Pavlo Kolesnichenko">
    <title>Cattery</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a th:href="@{/}" class="navbar-brand d-flex align-items-center">
                <img width="25" height="25" src="https://svgsilh.com/svg/2026001.svg">
                <strong class="mx-2">Cattery</strong>
            </a>
            <form class="form-inline mt-2 mt-md-0" method="get" th:action="@{/cat/search}">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" th:name="searchName">
                <button class="btn btn-outline-light mx-1 my-2 my-sm-0" type="submit">Search</button>
                <div sec:authorize="isAnonymous()">
                    <a type="button" class="btn btn-secondary mx-1 my-2 my-sm-0" th:href="@{/user/login}">Login</a>
                    <a type="button" class="btn btn-secondary mx-1 my-2 my-sm-0" th:href="@{/user/register}">Sign up</a>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <a type="button" class="btn btn-secondary mx-1 my-2 my-sm-0" th:href="@{/user/logout}">Logout</a>
                </div>
            </form>
        </div>
    </div>
</header>
</body>
</html>