<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Cattery web application using Spring Framework and Bootstrap CSS">
    <meta name="author" content="Pavlo Kolesnichenko">
    <title>Cattery</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a th:href="@{/}" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
                <strong>Cattery</strong>
            </a>
            <form class="form-inline mt-2 mt-md-0" method="get" th:action="@{/cat/search}">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" th:name="searchName">
                <button class="btn btn-outline-light mx-1 my-2 my-sm-0" type="submit">Search</button>
                <div sec:authorize="isAnonymous()">
                    <a type="button" class="btn btn-secondary mx-1 my-2 my-sm-0" th:href="@{/user/login}">Login</a>
                    <a type="button" class="btn btn-secondary mx-1 my-2 my-sm-0" th:href="@{/user/register}">Sign up</a>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <a type="button" class="btn btn-secondary mx-1 my-2 my-sm-0" th:href="@{/user/logout}">Logout</a>
                </div>
            </form>
        </div>
    </div>
</header>
</body>
</html>