<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Cattery web application using Spring Framework and Bootstrap CSS">
    <meta name="author" content="Pavlo Kolesnichenko">
    <title>Cattery</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
</head>
<body>
<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
                <strong>Cattery</strong>
            </a>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</header>

<main role="main">

    <div class="album py-5 bg-light">
        <div class="container">
            <th:block th:each="breed : ${breeds}">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card mb-4 shadow-sm">
                            <img class="bd-placeholder-img card-img-top" th:src="@{'/breed/' + ${breed.id} + '/breedimage'}" width="100%" height="400">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${breed.name}"></h5>
                                <p class="card-test" th:text="${breed.overview}"></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a type="button" class="btn btn-sm btn-outline-secondary" th:href="@{/breed/{id}(id=${breed.id})}">View more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <th:block th:each="cat : ${breed.getAvailableCats(limitCats)}">
                        <div class="col-sm-3">
                            <div class="card mb-4 shadow-sm">
                                <img class="bd-placeholder-img card-img-top" th:src="@{'/cat/' + ${cat.id} + '/catimage/0'}" width="100%" height="225">
                                <div class="card-body">
                                    <p th:inline="text">
                                        <b>Name: </b>
                                        [[${cat.name}]]
                                    </p>
                                    <p th:inline="text">
                                        <b>Gender: </b>
                                        [[${cat.gender.name().toLowerCase()}]]
                                    </p>
                                    <p th:inline="text">
                                        <b>Date of birth: </b>
                                        [[${cat.birthDate}]]
                                    </p>
                                    <hr style="border: 1px dashed black;" />
                                    <p th:inline="text">
                                        <b>Price: </b>
                                        [[${cat.price + '$'}]]
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a type="button" class="btn btn-sm btn-outline-secondary" th:href="@{/cat/{id}(id=${cat.id})}">View</a>
                                            <a type="button" class="btn btn-sm btn-outline-secondary" th:href="@{/cat/{id}/edit(id=${cat.id})}">Edit</a>
                                        </div>
                                        <small class="text-muted" th:text="${'Updated: ' + cat.lastUpdated}"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </th:block>
        </div>
    </div>

</main>

<footer class="text-muted bg-dark shadow-sm">
    <div class="container" style="padding: 1rem;">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <span>&copy; 2020, Cattery</span>
    </div>
</footer>
<!-- jQuery library -->
<script src="https://ajax.googleapi.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- JavaScript library -->
<script src="https://maxcdn.bootstrap.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>