<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Cat Form</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form th:object="${cat}" th:action="@{/cat/}" enctype="multipart/form-data" method="post">

                <input type="hidden" th:field="*{id}"/>
                <div class="pannel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title" th:text="#{label.cat.editCatInformation}">Edit Cat Information</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label th:text="#{label.cat.name} + ':'">Name:</label>
                                </div>
                                <div class="col-md-3 form-group">
                                    <input type="text" class="form-control" th:field="*{name}"/>
                                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label th:text="#{label.cat.breed} + ':'">Breed:</label>
                                </div>
                                <div class="col-md-6 form-group">
                                    <select class="form-control" th:field="*{breed.id}">
                                        <option value="" th:text="#{label.cat.breed.choose}">Choose from existing</option>
                                        <option th:each="breed : ${breeds}" th:value="${breed.id}" th:text="${breed.name}"></option>
                                    </select>
                                    <p th:if="${#fields.hasErrors('breed')}" th:errors="*{breed}">Error</p>
                                </div>
                                <div class="col-md-3 form-group">
                                    <a class="btn btn-secondary" th:href="@{/breed/create}" type="button" th:text="#{label.cat.breed.new}">New</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label th:text="#{label.cat.images} + ':'">Images:</label>
                                </div>
                                <div class="col-md-6 form-group">
                                    <input id="image_files" name="image_files" type="file" class="file" multiple>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label th:text="#{label.cat.gender} + ':'">Gender:</label>
                                </div>
                                <div class="col-md-3 form-group">
                                    <select th:field="*{gender}">
                                        <option th:each="gender : ${T(com.example.cattery.model.Gender).values()}"
                                                th:value="${gender}"
                                                th:text="${gender.displayValue}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label th:text="#{label.cat.colour} + ':'">Colour:</label>
                                </div>
                                <div class="col-md-3 form-group">
                                    <input type="text" class="form-control" th:field="*{colour}">
                                    <p th:if="${#fields.hasErrors('colour')}" th:errors="*{colour}">Error</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label th:text="#{label.cat.price} + ':'">Price:</label>
                                </div>
                                <div class="col-md-3 form-group">
                                    <input type="number" min="1" max="10000" step="1" class="form-control" th:field="*{price}">
                                    <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Error</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label th:text="#{label.cat.ems} + ':'">EMS:</label>
                                </div>
                                <div class="col-md-3 form-group">
                                    <input type="text" class="form-control" th:field="*{ems}">
                                    <p th:if="${#fields.hasErrors('ems')}" th:errors="*{ems}">Error</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label th:text="#{label.cat.birthDate} + ':'">Birth date:</label>
                                </div>
                                <div class="col-md-3 form-group">
                                    <input type="date" class="form-control" th:field="*{birthDate}">
                                    <p th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}">Error</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label th:text="#{label.cat.class} + ':'">Class:</label>
                                </div>
                                <div class="col-md-3 form-group">
                                    <select th:field="*{catClass}">
                                        <option th:each="catClass : ${T(com.example.cattery.model.CatClass).values()}"
                                                th:value="${catClass}"
                                                th:text="${catClass.displayValue}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label th:text="#{label.cat.status} + ':'">Status:</label>
                                </div>
                                <div class="col-md-3 form-group">
                                    <select th:field="*{status}">
                                        <option th:each="status : ${T(com.example.cattery.model.CatStatus).values()}"
                                                th:value="${status}"
                                                th:text="${status.displayValue}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-secondary" th:text="#{label.submit}">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- jQuery library -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!-- JavaScript library -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>
</html>